<article class="article">
    <header class="article-header text-left">
        <% if(index){ %>
        <h2 class="title1 cl-effect-4"><a class="" href="<%- url_for(post.path) %>"><%- post.title %></a></h2>
        <% }else{ %>
        <h1 class="title2"><%- post.title %></h1>
        <% } %>
    </header>
    <div class="article-meta text-muted">
        <%- date(post.date, 'm月d日, YYYY') %>
        <b class="gap">/</b>
        <%- list_tags(post.tags, {
            show_count: false,
            style: '',
            class: 'text-muted article-tag'
        }) %>
    </div>
    <% if(is_post()){ %>

    <% if(toc(post.content)){ %>
    <div class="article-directory">
        <span class="pull-right article-directory-hash">目录</span>
        <%- toc(post.content) %>
    </div>
    <% } %>
    <% } %>
    <div class="article-content">
        <%- post.content %>
    </div>
</article>

