<article class="article">
    <header class="article-header text-left">
        <% if(index){ %>
        <h2 class="title1 cl-effect-4"><a class="" href="<%- url_for(post.path) %>"><%- post.title %></a></h2>
        <% }else{ %>
        <h1 class="title2"><%- post.title %></h1>
        <% } %>
    </header>
    <div class="article-meta text-muted">
        <%- date(post.date, 'M月D日, YYYY') %>
        <b class="gap">/</b>
        <%- list_tags(post.tags, {
            show_count: false,
            style: '',
            class: 'text-muted article-tag'
        }) %>
    </div>
    <% if(is_post()){ %>

    <% if(toc(post.content)){ %>
    <div class="article-directory">
        <%- toc(post.content) %>
    </div>
    <% } %>
    <% } %>
    <div class="article-content">
        <%- post.content %>
    </div>
</article>

<% if (!index && post.comments){ %>
<!-- 多说评论框 start -->
<div class="ds-thread"
        data-thread-key="<%= post.layout %>-<%= post.slug %>"
        data-title="<%= post.title %>"
        data-url="<%= page.permalink %>"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    var duoshuoQuery = {short_name:"flysay"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->

<% } %>